
/*Home Page css*/
* {
    box-sizing: border-box
}

html {
    padding: 0;
   
}

.w-logo {
    width: 70px;
}

.jumbotron {
    padding: 0px;
    margin: 0px;
    background: none;
    color: #fff;
    text-align: center
}

.jumbotron div h1 div img.wejumprope-white-logo {
    width: 70%;
}

.jumbo-paragraph {
    width: 70%;
    margin: auto;
    font-size: 300%;
}

.carousel-item img {
    height: 600px;  
}

.section-red-g {
    background: rgb(255,0,0);
    background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(196,10,10,1) 29%, rgba(105,6,6,1) 94%);
    padding-bottom: 60px;
}

.section-dark {
    background-color: #cccccc;
    padding: 2rem;
}

.section-light {
    background-color: #fff;
    padding: 2rem;
}

.devTJpic{
    width: 100%;
    height:
}

.home-about-wejr {
    font-size: 20px;
    line-height: 2;
    font-family: 'Asap Condensed', sans-serif;
}

.shop-button-wrapper {
    text-align: center;
    padding: 30px;
}

.shop-button-wrapper button {
    font-size: 20px;
    width: 200px;
    height: 50px;
    background: rgb(255,0,0);
    background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(196,10,10,1) 29%, rgba(105,6,6,1) 94%);
    font-size: 25px;
    font-family: 'Asap Condensed', sans-serif;
}

.shop-button-wrapper button:hover{
    box-shadow: 2px 2px 10px rgba(0,0,0,.5),-2px -2px 10px rgba(0,0,0,.5);
}

.text-img-left {
    text-align: center;
    overflow: hidden;  
}

.text-img-right {
    text-align: center;
}

.text-img-left img {
    max-width: 400px;
}

.text-img-right img {
    min-width: 200px;
}

.thumbnail {
    display: block;
    margin: auto;
    padding: 0;
    background: none; 
}

.thumbnail button {
    padding: 0px;
    margin: 20px;
    box-shadow: 2px 2px 5px rgba(255,0,0.5), -2px  -2px 5px rgba(255,0,0.5); 
    background: none;
}

.image-button {
    background: none;
    display: block;
    margin: auto;
    padding: 0;
}

.image-button:hover {
   box-shadow: 2px 2px 15px rgba(255,0,0,.5), -2px  -2px 15px rgba(255,0,0,.5); 
}

.footer.bg-inverse {
    background: #000;
}

.footer.bg-inverse img  {
    display: block;
    margin: auto;
    max-width: 2000px;
    width: 80%;
}

.claim {
    color: #fff;
    font-size: 10px;
    text-align: center;
}

/*About Services Styles*/
.here-link {
    color:dodgerblue;
    
}

.black {
    background-color:dimgrey;
    padding: 30px;
}

/*About page CSS*/
.about-services-header {
    color: #fff;
    padding-top: 40px;
    text-align: center;
}

.about-services-header img {
    width: 130px;
    font-family: 'Asap Condensed', sans-serif;
    font-weight: 900;
}

.about-services-p {
    color: #fff;
    font-family: 'Asap Condensed', sans-serif;
    font-size: 20px;
    text-align: center;
}

.about-services-p img {
    display: block;
    margin: auto;
    box-shadow: 2px 2px 5px 5px rgba(255,255,255,.5), -2px -2px 5px 5px rgba(255,255,255,.5);
    width: 30%;
    min-width: 300px;
}

.p-head{
   font-size: 25px; 
    padding-top: 20px;
}


/*Shop page CSS*/

.item-option-bar {
 padding: 30px;
}

.item-option-bar .dropdown {
 padding: 30px;
}


.dropdown a {
    font-size: 25px;
    width: 200px;
}



.shop-header{
    font-size: 70px;
    font-family: 'Asap Condensed', sans-serif;
}

.card {
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.add-to-cart-button{
    margin: auto;
    margin-top: 20px;
    padding: 0;
    width: 200px;
    height: 40px;
}

/*Contact Page css*/

.contact-shop-header {
    text-align: center;
    margin-top: 50px;
    color: #fff;
}

label h1 {
    color: #fff;
    font-size: 30px;
    margin-top: 50px;
}
 
label, input, textarea {
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 50px;
}

textarea {
    width: 60%;
    min-width: 335px;
    text-align: left;
    min-height: 200px
}

input {
    text-align: left;
    width: 300px;
    height: 50px;
    font-size: 25px;
}

.submit-button {
    display: block;
    margin: auto;
    margin-top: 50px;
    width: 200px;
}


/**/
/* Media Queries */

@media only screen and (max-width: 992px) {
  .carousel-item img {
    width: 100px;
    height: 300px;
    }
    
    .text-img-left img {
        width: 200px;
    }  
}

@media only screen and (max-width: 767px) {
     .text-img-right img {
        display: none;
    }
}



